{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    <a class="nav-link" href="{% url 'listing' %}">Create Listing</a>

    <ul>
        {% for listing in Listings %}
            <li>
                <a href="{% url 'listing_id' listing.id %}">
                    {{ listing.title }}
                </a>
                {% if listing.seller == User %}
                <form action="{% url 'close' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Close Listing">
                </form>
                {% endif %}
                <p>{{ listing.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}