{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Item: {{ title }}</h2>
    <p>Item ID: {{ listing_id }}</p>


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div>
        <h4>Description:</h4>
        <p>{{description}}</p>
        <p>Current Price: ${{current_price}}</p>
    </div>

    <ul>
        {%for bid in bids %}
            <li>{{ bid }}</li>

        {% endfor %}
    </ul>

    <div>
        <h3>Make a Bid</h3>
        <form action="{% url 'listing_id' listing_id %}" method="POST">
            {% csrf_token %}
            {{ bidform }}
            <div>
                <input class="btn btn-primary" type="submit" value="Submit Bid">
            </div>
        </form>
        
        <form action="{% url 'watch' listing_id %}" method="POST">
            {% csrf_token %}
            <br>
            <div>
                <input class="btn btn-primary" type="submit" value="Watch This Item">
            </div>
            <br>
        </form>        

        <h3>Make a Comment</h3>
        <form action="{% url 'comment' listing_id %}" method="POST">
            {% csrf_token %}
            {{ commentform }}
            <div>
                <input class="btn btn-primary" type="submit" value="Submit Comment">
            </div>
        </form>

        <ul>
            {%for comment in comments %}
                <li>{{ comment }}</li>
    
            {% endfor %}
        </ul>
    </div>



{% endblock %}